.title {
    @include font-size(26px);
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: size(50);
    text-align: center;
    text-transform: uppercase;

    @include media-breakpoint-up('md') {
        @include font-size(30px);
        margin-bottom: size(85);
    }
}

.title-description {
    text-align: center;
}

.headline {
    margin-bottom: size(40);

    @include media-breakpoint-up('md') {
        margin-bottom: size(60);
    }
    
    .title {
        margin-bottom: size(10);

        @include media-breakpoint-up('md') {
            margin-bottom: size(20);
        }
    }
}