.page-footer {
    background-color: $footer-background;
    color: rgba($footer-color, .7);
    @include font-size(12px);
    margin-top: 20px;
    padding: 10px 0;
    text-align: center;

    @include media-breakpoint-up('md') {
        margin-top: 0;
        padding: 24px 0;
    }
}