.page-header {
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    z-index: 1000;

    @include media-breakpoint-up('md') {
        top: 26px;
    }

    @include media-breakpoint-down('sm') {
        .logo {
            width: 120px;
        }
    }
}